.image-container {
    width: 35vh;
    height: 35vh;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 50%;
}

.child-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.staff-card {
    margin: 2% 2% 0 2%;
}