.poster>div>a {
    background-color: rgb(140, 3, 3);
    margin: 20px;
    padding: 40px;
    width: 300px;
    font-size: 1.15em;
    text-align: center;
    transition: .2s ease-in;
}

.poster {
    justify-content: space-evenly;
    margin: 5% 0 5% 0;
    width: 100%;
}